
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@Html.ActionLink("Registrarse", "Save", new { @class = "btn btn-dark" })
<br />
<br />
@Html.ActionLink("Base de datos", "Mostrar", new { @class = "btn btn-dark" })







