
@{
    ViewData["Title"] = "Mostrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <title>Document</title>
</head>


<body>
    <h2 class="animate__animated animate__fadeInDown">Personas registradas<i class="fas fa-user-shield"></i></h2>

    <table id="mitabla" class="table table-hover">

        <thead>
            <tr>
                <th>
                    IdPerson
                </th>
                <th>
                    NamePerson
                </th>
                <th>
                    AgePerson
                </th>
                <th>
                    DescriptionPerson
                </th>
            </tr>

        </thead>

    </table>


    @section scripts{

        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {

                var tabla = $('#mitabla').DataTable({
                    "ajax": {
                        "url": '/Home/GetAll',
                        "type": "get",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "idPerson", "name": "idPerson", "autoWidth": true },
                        { "data": "namePerson", "name": "namePerson", "autoWidth": true },
                        { "data": "agePerson", "name": "agePerson", "autoWidth": true },
                        { "data": "descriptionPerson", "name": "descriptionPerson", "autoWidth": true }
                    ]

                });
            });

        </script>


    }
</body>
</html>

